#main_title{
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 20px;
  letter-spacing: 2px;
  font-weight: 500;
}
.box1 h2 {
  float: left;
  margin-bottom: 10px;
}
.box1 button{
  float: right;
  margin-bottom: 10px;
}